{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <!--AS A ADMIN SEND NEWSLETTER FORM AND AS A USER SUBSCRIBE NEWSLETTER POSSIBLE-->
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 col-md-6 offset-md-3">
                <h2 class="logo-font mb-4">Newsletter</h2>
                <h5 class="text-muted text-black"></h5>
                <hr>
                <div class="card-body ">
                    <form method="POST" action="{% url 'mail-letter' %}" class="d-block">
                        {% csrf_token %}
                        {{ add_mailmeassage }}
                        <br>
                        <input class="btn btn-outline-black rounded-0 w-25" type="submit" value="Send Message">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}