<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 navbar-link active" href="{% url 'home' %}" id="Home-link">
                Home
            </a>
        </li>
        <li class="nav-item" id="productslink">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 navbar-link" href="{% url 'products' %}" id="all-products-link">
                All Products
            </a>  
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 navbar-link" href="#" id="all-products-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu</a>
                <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                    <a href="{% url 'products' %}?category=HotCoffees" class="dropdown-item ">Hot Coffee</a>
                    <a href="{% url 'products' %}?category=Smoothies" class="dropdown-item">Smoothies</a>
                    <a href="{% url 'products' %}?category=Cold-coffee" class="dropdown-item ">Cold-coffee</a>
                    <a href="{% url 'products' %}?category=Summerspecial" class="dropdown-item ">Summerspecial</a>
                    <a href="{% url 'products' %}?category=Fika" class="dropdown-item ">Swedish Fika Idea</a>
                </div>

        </li>
        <li class="nav-item dropdown" id="special-offer-link">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 navbar-link" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=Combopack" class="dropdown-item ">New Arrivals(combo)</a>
            </div>
        </li>
        <li class="nav-item" id="contactus-link">
            <a class="logo-font font-weight-bold nav-link text-black navbar-link " href="{% url 'contact_us' %}" id="contactus">
                Contact Us
            </a>
        </li>
        
    </ul>
    <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 d-none d-xl-block">
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <div class="w-100 d-flex justify-content-end">
                    <label class="mb-0">
                        <span hidden>Search</span>
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                    </label>
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon">
                            <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

