<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav">
        <li class="nav-item " id="home">
            <a class="logo-font font-weight-bold nav-link text-light mr-5 navbar-link active" href="{% url 'home' %}" id="Home-link">
                Home
            </a>
        </li>
        <li class="nav-item" id="productslink">
            <a class="logo-font font-weight-bold nav-link text-light mr-5 navbar-link" href="{% url 'products' %}" id="all-products-link">
                All Products
            </a>
           
        </li>
        <li class="nav-item dropdown" id="books-link">
            <a class="logo-font font-weight-bold nav-link text-light mr-5 navbar-link" href="#" id="all-products-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu</a>
                 <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                    <a href="#" class="dropdown-item">A</a>
                    <a href="#" class="dropdown-item ">C</a>
                    <a href="#" class="dropdown-item ">Co</a>
        </li>
        <li class="nav-item dropdown" id="special-offer-link">
            <a class="logo-font font-weight-bold nav-link text-light mr-5 navbar-link" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="#" class="dropdown-item">New Arrivals</a>
            </div>
        </li>
        <li class="nav-item" id="contactus-link">
            <a class="logo-font font-weight-bold nav-link text-light navbar-link " href="{% url 'contact_us' %}" id="contactus">
                Contact Us
            </a>
        </li>
        
    </ul>
</div>