{% load static %}

<!doctype html>
<html lang="en">
    <head>

    {% block meta %}
    <!-- Required meta tags -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}"  rel="stylesheet">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/25560d89ea.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!--<script src="{% static 'js/script.js' %}"></script> -->

        <!-- Stripe payment -->
         
        <script src="https://js.stripe.com/v3/"></script>
        
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Coffeehouse {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid">
        <div id="topnav" class="row pt-lg-2 d-lg-flex bg-lights"> <!--d-none-->
            <!--  <div class="col-12 col-lg-6 col-xl-4 my-auto py-1 py-lg-0 text-center text-lg-left d-block"> --> 
            <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0">Coffeehouse cafe</h2> 
                </a>
            </div>

    
         <!--   <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-xl-block">-->
            <div class="col-12 col-lg-6 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                  
                                {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'wishlist' %}" class="text-black nav-link">
                            <div class="text-center">
                                <i class="fas fa-heart fa-lg"></i>
                                <p class="my-0">Wishlist</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        kr{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        kr 0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
       
        <div class="row bg-dark-black">
            <nav class="navbar navbar-expand-lg w-100 navbar-dark">
                <button class="navbar-toggler border-black" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>
                
                {% include 'includes/main-nav.html' %}
                {% include 'includes/mobile-top-header.html' %}
            </nav>
        </div>
    </header>
   
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}  
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
   
    <!-- Footer -->
    
    <div class="text-center footer">
        <footer class="bg-lights text-black pt-md-4 pb-4">
            <div class="col-12 col-xl-11 mx-auto"> 
                <div class="d-md-flex flex-row-reverse text-black" style="justify-content: center;">
                    <div class="col-12 pb-4 pb-md-0 col-md-6 text-center">
                        <div class="col-10 pt-4 p-0 pt-md-0 mx-auto">
                            <p class="mb-4 subscriber h4 text-black" id="subscriber">
                                Subscribe To Our Newsletter
                            </p>
                            <form method="POST" action="{% url 'newsletter' %}">
                                {% csrf_token %} {{ add_subscriber_form.as_p }}
                                <p>
                                    <label for="newsletter_email">Enter your email:</label>
                                    <input type="text" name="email" id="newsletter_email" maxlength="320" required="">
                                    
                                </p>
                                <span id="text"></span>
                                <button class="btn btn-info btn-black subscribe" type="submit">Subscribe</button>
                            </form>            
                        </div>
                    </div>
                    <div class="col-6 pt-4 pt-md-0 col-md-6 mx-auto">
                        <div class="d-lg-flex justify-content-between col-md-10 p-0 mx-auto">
                            <div class="d-flex flex-column mb-3 mb-lg-0 text-center">
                                <a class="hover-underline text-black mb-3" href="{% url 'products' %}">All Products</a>
                                <a class="hover-underline text-black mb-3" rel="noopener nofollow" href="https://www.termsfeed.com/live/c15cf3cc-837b-4c37-8899-b3db77f5f61f" target="_blank">Privacy And Policy</a>
                                <a class="hover-underline text-black mb-3" rel="noopener nofollow" href="https://www.termsandcondiitionssample.com/live.php?token=LWcXhH3Q7WFjeWzq7SkPxEtmoGiWtQf1" target="_blank">Terms & Conditions</a>
                                <a class="hover-underline text-black mb-3" href="{% url 'faqsview' %}">FAQ's</a>
                                        
                            </div>
                        <div class="text-center">       
                            <p class="mb-2">Follow us on social media:</p>
                                <section class="mb-4">
                                    <a href="https://www.facebook.com/profile.php?id=61559849935791" target="_blank" rel="" aria-label="Link to facebook page" class="hover-fx">
                                        <i class="fab fa-facebook-square ms-3 h3 text-black"></i>
                                    </a>
                                    <a href="https://www.twitter.com" target="_blank" rel="" aria-label="Link to twitter page" class="hover-fx"><i class="fab fa-twitter-square ms-3 h3 text-black"></i></a>
                                    <a href="https://www.instagram.com" target="_blank" rel="" aria-label="Link to instagram page" class="hover-fx"><i class="fab fa-instagram-square ms-3 h3 text-black"></i></a>
                                    <a href="https://www.youtube.com" target="_blank" rel="" aria-label="Link to youtube page" class="hover-fx"><i class="fab fa-youtube-square ms-3 h3 text-black"></i></a>
                                </section>
                                
                            <p class="mb-0 Copyright">Copyright &copy;Coffeehouse cafe 2024</p>
                        </div>
                    </div> 
                </div>   
            </div>
        </div>
    </footer>
</div>

    <!-- End of footer -->
    <!-- Script -->
    
    {% block postloadjs %}
    <!--<script src="{% static 'js/script.js' %}"></script>-->
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    
    {% endblock %} 
    
    <!-- End of Script -->
  </body>
</html>